<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServerA</title>
</head>
<body>
<h2>Greetings app SERVER A</h2>
<h2 id="cid" th:text=" ${currentId}"></h2>
<h1 id="email" th:text="${currentEmail}"> </h1>


<form method="post" action="/sendFriendRequest">
  <input type="text" name="f_email" placeholder="Enter friends email">
  <input type="text" id="currentemail" name="currentemail" hidden>
  <input type="text" id="userId" name="userid" hidden>
  <button style="float: left" type="submit" class="btn btn-primary"value="user">Submit</button>

</form>



<script>
  const currentEmail = document.querySelector("#email").innerText;
  const emailInput = document.querySelector("#currentemail");
  emailInput.value = currentEmail;

  const userid = document.querySelector("#cid").innerText;
  const idInput = document.querySelector("#userId");
  idInput.value = userid;

</script>

</body>
</html>